[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=QRemoteControl-Client
Icon=harbour-qremotecontrol
Exec=harbour-qremotecontrol

