<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<array>
		<string></string>
		<string></string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleDisplayName</key>
	<string>QRemoteControl-Client</string>
	<key>CFBundleExecutable</key>
	<string>qremotecontrol-client</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIconFiles</key>
	<array>
                <string>icon_16x16.png</string>
                <string>icon_32x32.png</string>
                <string>icon_57x57.png</string>
                <string>icon_72x72.png</string>
                <string>icon_76x76.png</string>
                <string>icon_120x120.png</string>
                <string>icon_128x128.png</string>
                <string>icon_152x152.png</string>
                <string>icon_256x256.png</string>
                <string>icon_512x512.png</string>
                <string>icon_16x16@2x.png</string>
                <string>icon_32x32@2x.png</string>
                <string>icon_57x57@2x.png</string>
                <string>icon_72x72@2x.png</string>
                <string>icon_76x76@2x.png</string>
                <string>icon_120x120@2x.png</string>
                <string>icon_128x128@2x.png</string>
                <string>icon_152x152@2x.png</string>
                <string>icon_256x256@2x.png</string>
                <string>icon_512x512@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.qremote.qremotecontrol-client</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QRemoteControl-Client</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.6.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Alexander Rössler 2012-2014</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>wifi</string>
	</array>
</dict>
</plist>
