[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QRemoteControl 2
Exec=/usr/bin/single-instance /opt/qremotecontrol2/bin/qremotecontrol2
Icon=/usr/share/icons/hicolor/80x80/apps/qremotecontrol280.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
